<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500622967926-dc2u8gkoketq0iepb50mah48e4p04l4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500622967926-dc2u8gkoketq0iepb50mah48e4p04l4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500622967926-ote4b03s8rdjevv9kemsd15uph8okvpp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw_VAA4jZSau5N2ALNbjd9qx2W26r9zYw</string>
	<key>GCM_SENDER_ID</key>
	<string>500622967926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day20Firebase</string>
	<key>PROJECT_ID</key>
	<string>day-20-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>day-20-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500622967926:ios:5a490acd816c0a09f78b57</string>
</dict>
</plist>